.tabs {
    height: 7.5vh;
}
.tab.jsx-2137964197{
    padding: 1vw 2vh;
}
.loader {
    height: "100%";
    text-align-last: "center";
}
.main-body {
    height: 100vh;
    width: 100%;
    margin: auto;
}